php_value date.timezone 'Asia/Kuala_Lumpur'
# HTID:21269607: DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES BELOW
php_value display_errors 1
# DO NOT REMOVE OR MODIFY THIS LINE AND THE LINES ABOVE HTID:21269607:
